/******************
  [Common]
******************/

/* [Layout]  */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.px-w-20px {
  padding-left: 20px;
  padding-right: 20px;
}
.App {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.page-container {
  padding: 20px 0;
}
/* [Color]  */
body {
  background-color: #f2f2f26c;
  /* background: linear-gradient(11deg, var(--background_dark), var(--background)); */
}
.App {
  background-color: #fff;
  /* background-color: #000; */
  /* background: var(--secondary); */
}

:root {
  --text: hsla(247, 57%, 91%, 1);
  --text_light: hsla(247, 57%, 91%, 0.9);
  --text_dark: hsla(247, 57%, 91%, 0.5);
  --background: rgb(20, 21, 20);
  --background_dark: rgb(16, 16, 15);
  --primary: hsla(241, 25%, 50%, 1);
  --secondary: hsla(247, 8%, 25%, 0.5);
  --accent: rgb(251, 139, 36);
  --outline: hsla(247, 5%, 36%, 1);
  --alert: hsla(360, 60%, 55%, 1);
}
